
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="input-group">
    <div class="container">
        <h2>Reports</h2>
             <div class="row">
                 <div class="col-sm-4">
                     <div class="form-group">
                         <button class="button button2" data-toggle="modal" data-target="#form">
                             Assertion Summary
                         </button>
                     </div>

                 </div>
                 <div class="col-sm-4">
                     <div class="form-group">
                         <button class="button button2" data-toggle="modal" data-target="#form">
                             Expenses Per Month
                         </button>
                     </div>

                 </div>

             </div>
             <div class="row">
                 <div class="col-sm-4">
                     <div class="form-group">
                         <button class="button button2" data-toggle="modal" data-target="#form">
                             Collectibles
                         </button>
                     </div>
                  </div>
                 <div class="col-sm-4">
                     <div class="form-group">
                         <button class="button button2" data-toggle="modal" data-target="#form">
                                 Expenses-Unbilled to Codep
                         </button>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-4">
                     <div class="form-group">
                         <button class="button button2" data-toggle="modal" data-target="#form">
                             Expenses Date range
                         </button>
                     </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="form-group">
                         <button class="button button2" data-toggle="modal" data-target="#form">
                             Payments per month
                         </button>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-sm-4">
                     <div class="form-group">
                         <button class="button button2" data-toggle="modal" data-target="#form">
                             Payments Collected - Date range
                         </button>
                     </div>
                 </div>
             </div>
    </div>
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Assertion Summary
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div id="datepicker"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="datePosted">Date From:</label>
                                    <div class="calendar-btn month-btn" onclick="$('#months').toggle('fast')">
                                        <span id="curMonth"></span>
                                        <div id="months" class="months dropdown"></div>
                                    </div>
                                    <div class="calendar-btn year-btn" onclick="$('#years').toggle('fast')">
                                        <span id="curYear"></span>
                                        <div id="years" class="years dropdown"></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

